* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
nav {
  /* background-color: #fff; */
  height: 100px;
}

#navMid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#navMid:nth-of-type(2) {
  color: black;
  position: absolute;
  left: 25%;
  top: 30px;
  cursor: pointer;
}

#navEnd {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  left: 85%;
  top: 30px;
  cursor: pointer;
}
#navEnd div:nth-child(1) img {
  margin-left: 30px;
}
#navEnd div:nth-child(3) img {
  margin-right: 30px;
}

/* logo */
#navFirst {
  position: absolute;
  top: 20px;
  left: 60px;
  cursor: pointer;

}

#navMid > div > h4 {
  margin-left: 50px;
  font-size: 15px;
  font-family: "Allerta";
}
#navMid div:nth-child(1) h4 {
  text-underline-offset: 7px;
  text-decoration: underline;
}

/* flowcut css */
#imgMain {
  position: absolute;
  left: 69%;
  top: 15%;
  width: 440px;
  height: calc(100vh - 100px);
  object-fit: cover;
}


/* midd part */
#midWholePart11{
    position: absolute;
    top: 30%;   
}
#monstera {
    font-family: 'Allerta';
   font-size: 80px;
   margin-left: 40px;
   font-weight: 600;
}
.dot{
  height: 10px;
  width: 10px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 70px;
  left:12px ;
}
.a{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}


ul li:nth-child(7){
  position: absolute;
  left:45px;
  top:90px;
  list-style: none;
}


/* lowerpart */
#midWholePart13 {
  position: absolute;
  display: flex;
  bottom: 0px;
}

/* feeding part */
#feeding {
  margin-left: 20px;
}
.midWholePart13Parts {

  display: flex;
  margin-bottom: 20px;
}
#light{
    margin-right: 20px;
}


#care{
    margin-left: 15px;
}

.midWholePart13Parts div :nth-child(1){
    margin-right: 10px;
}
.midWholePart13Parts div :nth-child(2){
    margin-right: 30px;
}
.midWholePart13Parts div :nth-child(3){
    margin-right: 30px;
}
.midWholePart13Parts :nth-child(2) div{
    margin-left: 30px;
}




/* Dicover Button */
#midWholePart12{
  /* border: 1px solid red; */
  background-color: #466d50;
  border-radius: 30px;
  position: absolute; 
  width: 250px;
  height: 60px;
  position: absolute;
  bottom: 30%;
  left: 60px;
}
#midWholePart122{
  float: right;
  position: absolute;
  left: 85%;
  bottom: 15px;
}
#midWholePart121 h1{
  text-align: center;
  margin-top: 10px;
  margin-right: 20px;
  color: #ffffff;
  cursor: pointer;
}
#midWholePart122 img{
  width: 13px;
}